sofd-core-sd-integration/assets/wsdl/GetDepartmentParent/GetDepartmentParent20190701.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:response="urn:oio:sd:snitflader:2019.07.01" xmlns:tns="www.sd.dk/sdws/GetDepartmentParent20190701" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:request="urn:oio:sd:snitflader:2019.07.01" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="www.sd.dk/sdws/GetDepartmentParent20190701" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/sd.dk/xml.schema/20070301/">
      <xsd:element xmlns:sd="http://rep.oio.dk/sd.dk/xml.schema/20070301/" name="EffectiveDate" type="xsd:date" />
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oio:sd:snitflader:2011.12.01">
      <xsd:element xmlns:sd="urn:oio:sd:snitflader:2011.12.01" name="DepartmentUUIDIdentifier" type="sd:UUIDIdentifierType" />
      <xsd:element xmlns:sd="urn:oio:sd:snitflader:2011.12.01" name="UUIDIdentifier" type="sd:UUIDIdentifierType" />
      <xsd:simpleType xmlns:sd="urn:oio:sd:snitflader:2011.12.01" name="UUIDIdentifierType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:oio:sd:snitflader:2019.07.01">
      <xsd:element xmlns:sd20070301="http://rep.oio.dk/sd.dk/xml.schema/20070301/" xmlns:sd="urn:oio:sd:snitflader:2019.07.01" xmlns:sd20111201="urn:oio:sd:snitflader:2011.12.01" name="GetDepartmentParent" type="sd:GetDepartmentParentRequestType" />
      <xsd:complexType xmlns:sd20070301="http://rep.oio.dk/sd.dk/xml.schema/20070301/" xmlns:sd="urn:oio:sd:snitflader:2019.17.01" xmlns:sd20111201="urn:oio:sd:snitflader:2011.12.01" name="GetDepartmentParentRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sd20070301:EffectiveDate" />
          <xsd:element minOccurs="0" ref="sd20111201:DepartmentUUIDIdentifier" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element xmlns:sd20070301="http://rep.oio.dk/sd.dk/xml.schema/20070301/" xmlns:sd="urn:oio:sd:snitflader:2019.07.01" xmlns:sd20111201="urn:oio:sd:snitflader:2011.12.01" name="GetDepartmentParent20190701" type="sd:GetDepartmentParent20190701Type" />
      <xsd:complexType xmlns:sd20070301="http://rep.oio.dk/sd.dk/xml.schema/20070301/" xmlns:sd="urn:oio:sd:snitflader:2019.07.01" xmlns:sd20111201="urn:oio:sd:snitflader:2011.12.01" name="GetDepartmentParent20190701Type">
        <xsd:sequence>
          <xsd:element name="RequestStructure" type="sd:GetDepartmentParentRequestType" />
          <xsd:element minOccurs="0" name="DepartmentParent" type="sd:DepartmentParentType" />
        </xsd:sequence>
        <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="required" />
      </xsd:complexType>
      <xsd:complexType xmlns:sd20070301="http://rep.oio.dk/sd.dk/xml.schema/20070301/" xmlns:sd="urn:oio:sd:snitflader:2019.07.01" xmlns:sd20111201="urn:oio:sd:snitflader:2011.12.01" name="DepartmentParentType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="sd20111201:DepartmentUUIDIdentifier" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDepartmentParent20190701Response">
    <wsdl:part name="GetDepartmentParent20190701" element="request:GetDepartmentParent20190701" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentParent20190701Request">
    <wsdl:part name="GetDepartmentParent" element="request:GetDepartmentParent" />
  </wsdl:message>
  <wsdl:portType name="GetDepartmentParent20190701PortType">
    <wsdl:operation name="GetDepartmentParent20190701Operation">
      <wsdl:input message="tns:GetDepartmentParent20190701Request" />
      <wsdl:output message="tns:GetDepartmentParent20190701Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetDepartmentParent20190701Binding" type="tns:GetDepartmentParent20190701PortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartmentParent20190701Operation">
      <wsdlsoap:operation soapAction="https://service.sd.dk/sdws/services/GetDepartmentParent20190701" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDepartmentParent20190701Service">
    <wsdl:port name="GetDepartmentParent20190701" binding="tns:GetDepartmentParent20190701Binding">
      <wsdlsoap:address location="https://service.sd.dk/sdws/services/GetDepartmentParent20190701" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>